.stat-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgba(189, 31, 31, 0);
    background-repeat: no-repeat;
    background-image: url('https://img.freepik.com/free-vector/blurred-valentine-s-day-wallpaper_23-2148819570.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706918400&semt=ais');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 10px;
}