.feliz-colours {
    display: block;
    text-align: center;
    margin: 0px;
    background-color: #EDD3FF;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    padding: 50px 50px 40px;
    box-shadow: 2.83px 2.83px 2px #8B48AC, 0 0 18px 3px rgba(0, 0, 0, 0.39);
    opacity: 1;
}